body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    background: #F5F5F5;
}

textarea {
    resize: none;
    overflow: hidden;
}

.paddings {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    padding-left: 21px !important;
}

.addtask-prio-img {
    padding-left: 10px;
}

.center-stuff {
    display: flex;
    justify-content: center;
    align-self: center;
}

.amogus {
    flex-direction: column;
    margin-top: 96px;
    margin-left: 31px;
    margin-right: 14px;
}

.karben-text {
    width: 255px;
    height: 19px;
    margin: 0;
}

.addtask-gentext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.addtask-title {
    margin-top: 19px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
}

.addtask-prio-bnt-cursor {
    cursor: pointer !important;
    gap: 10px;
}

.addtask-prio-bnt-cursor {
    cursor: pointer !important;
}

.addtask-genimput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 21px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    white-space: pre-wrap;
    height: 41px;

}

.addtask-genimput:hover {
    cursor: text;
}

.addtask-gendrop {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-sizing: border-box;
}

.addtask-gendrop-collapsible {
    cursor: pointer;
}


.addtask-gendrop-collapsible.active .addtask-item {
    display: block;
}

.addtask-item {
    display: none;
    padding: 0 18px;
    overflow: hidden;
}

.addtask-item:hover {
    background-color: #d8d4d4;
}

.addtask-description-input {
    height: 93px;

    padding: 18px;
}

@media (min-width: 900px) {
    .amogus {
        margin-left: 355px;
    }
}

@media (min-width: 1300px) {
    body {
        display: none;
    }
}