.trueboard {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 302px;
	margin-top: 98.5px;
	margin-right: 34px;
}

.trueboard-maincon {
	display: flex;
	flex-direction: column;
	padding-right: 26px;
	height: 661px;
}

.trueboard-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}


.trueboard-text {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 21px;
	gap: 10px;
	width: 207px;
	color: #2A3647;
}


.trueboard-textAddSing {
	display: flex;
	align-items: flex-start;
	padding-bottom: 35px;
	height: 30px;
}

.trueboard-addSing {
	position: relative;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 2px solid #2A3647;
	border-radius: 10px;
}

.trueboard-addSing-h {
	position: absolute;
	height: 15px;
	left: 12px;
	top: 3.5px;
	border: 2px solid #2A3647;
}

.trueboard-addSing-v {
	position: absolute;
	height: 15px;
	left: 12px;
	top: 3.1400000000000006px;
	border: 2px solid #2A3647;
	transform: rotate(90deg);
}

.trueboard-taskcard {
	cursor: pointer;
	display: flex;
	width: 212px;
	flex-direction: column;
	padding: 18px 19px;
	margin-bottom: 35px;
	height: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
	border-radius: 30px;
}

.trueboard-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 4px 25px;
	width: 73px;
	height: 27px;
	border-radius: 8px;
}

.trueboard-tag-test {
	background: #FF7A00;
}

.trueboard-tag-text {
	font-family: 'Inter';
	color: #FFFFFF;
}

.trueboard-text-title {
	height: 19px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #2A3647;
}

.trueboard-text-desciption {
	word-wrap: break-word;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #A8A8A8;
}

.trueboard-progress {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	gap: 20px;
	width: 209px;
	height: 14px;
}

.trueboard-progress-init {
	display: flex;
}

.trueboard-progress-bar {
	width: 138px;
	height: 14px;
	accent-color: #298ee1;
}

.trueboard-progress-num {
	width: 51px;
	height: 14px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #000000;

}

.trueboard-userIcoPrio {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.trueboard-userIco {
	display: flex;
	justify-content: center;
	width: 93px;
}

.trueboard-userIco-text {
	width: 15px;
	height: 14px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #FFFFFF;
}

.trueboard-userIco-start {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 8px;
	gap: 10px;
	width: 35px;
	height: 35px;
	background: #0190E0;
	border: 1px solid;
	border-radius: 58px;
	order: 0;
	margin: 0px -6px;
}

.trueboard-userIco-medium {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 8px;
	gap: 10px;
	width: 35px;
	height: 35px;
	background: #EE00D6;
	border: 1px solid #FFFFFF;
	border-radius: 58px;

	order: 1;
	margin: 0px -6px;

}

.trueboard-userIco-end {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 8px;
	gap: 10px;
	width: 35px;
	height: 35px;
	background: #02CF2F;
	border: 1px solid #FFFFFF;
	border-radius: 58px;
}

.trueboard-userIco-plus {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 8px;
	gap: 10px;
	width: 35px;
	height: 35px;
	background: #2A3647;
	border: 1px solid #FFFFFF;
	border-radius: 58px;
}

.trueboard-Prio {
	padding-right: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
}