.mobile {
    display: none;
}


/* @media(max-width: 1200px) {
    .contacts-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-headline {
        margin-bottom: 16px;/
    }

    .header-subheadline {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header-border-mid {
        display: none;
    }

    .header-border-bottom {
        display: block;
    }
} */


@media(max-width: 1200px) {
    .contacts-list-container {
        width: 100%;
        max-width: unset;
    }

    .mobile {
        display: block;
    }

    /* .contacts-info-container {
        display: none;
    } */
}

@media(max-width: 900px) {
    main.contacts {
        padding: 80px 0 0 0;
    }

    .contacts-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-headline {
        margin-bottom: 16px;
    }

    .header-subheadline {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header-border-mid {
        display: none;
    }

    .header-border-bottom {
        display: block;
    }
}

@media(max-width: 400px) {
    .contacts-list-container {
        padding: 8px;
    }

    .letter-container {
        padding: 0px 8px;
    }

    .contact {
        gap: 16px;
    }

    .contact-name:not(#contact-details-name) {
        font-size: 18px;
    }

    .contact-email:not(#contact-details-email) {
        font-size: 14px;
    }
}