* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

.font-count {
    font-size: 64px;
    font-weight: 600;
}

.font-count-21 {
    font-size: 21px;
    font-weight: 700;
}

.font-count-47 {
    font-size: 47px;
    font-weight: 600;
}

.font-text {
    font-size: 21px;
    font-weight: 400;
}

.font-text-16 {
    font-size: 16px;
    font-weight: 400;
}

.font-text-36 {
    font-size: 36px;
    font-weight: 400;
}

.font-text-47 {
    font-size: 47px;
    font-weight: 500;
}

.ta-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.hover {
    transition: 220ms ease-in-out;
}

.hover:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    scale: 1.05;
    box-shadow: 0 4px 5px #5551;
}

.contacts {
    background-color: #F5F5F5;
    min-height: 100vh;
    padding: 89px 0 0 232px;
    display: flex;
}

.contacts-list {
    width: 40%;
    background-color: white;
    overflow: auto;
    box-shadow: 4px 0px 6px 0px #00000014;

}

.contacts-info {
    width: 60%;
}

.contacts-header {
    display: flex;
    align-items: center;
}

.contacts-header-headline {
    font-size: 61px;
    font-weight: 700;
    width: 315px;
    margin-right: 30px;
}

.contacts-header-border-mid {
    height: 59px;
    border: 3px solid #29ABE2;
    text-align: center;
}

.contacts-header-subheadline {
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
    margin-left: calc(30px - 3px);
}