* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

body {
    overflow: hidden;
}

.font-count {
    font-size: 64px;
    font-weight: 600;
}

.font-btn-21 {
    font-size: 21px;
    font-weight: 700;
}

.font-count-47 {
    font-size: 47px;
    font-weight: 600;
}

.font-text {
    font-size: 21px;
    font-weight: 400;
}

.font-text-16 {
    font-size: 16px;
    font-weight: 400;
}

.font-text-21 {
    font-size: 21px;
    font-weight: 400;
}

.font-text-27 {
    font-size: 27px;
    font-weight: 400;
}

.font-text-36 {
    font-size: 36px;
    font-weight: 400;
}

.font-text-47 {
    font-size: 47px;
    font-weight: 500;
}

.ta-center {
    text-align: center;
}

.mt-12 {
    margin-top: 12px;
}

.mt-34 {
    margin-top: 34px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.align-self-end {
    align-self: flex-end;
}

.hover {
    transition: 220ms ease-in-out;
}

.hover:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    scale: 1.05;
    box-shadow: 0 4px 5px #5551;
}

.dark-btn {
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
    border: none;
    transition: 220ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.dark-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    color: white;
    box-shadow: 0 4px 5px #5551;
}

.light-btn {
    color: #2A3647;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #2A3647;
    transition: 220ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.light-btn:hover {
    cursor: pointer;
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 5px #5551;
}

.light-btn svg path {
    transition: 220ms ease-in-out;
}

.light-btn:hover svg path {
    stroke: #29ABE2;
}

.contacts {
    background-color: #F5F5F5;
    height: 100vh;
    padding: 89px 0 0 232px;
    display: flex;
}

/*--------------------------------------------------
Contact List
---------------------------------------------------*/
.contacts-list-container {
    width: 40%;
    background-color: white;
    overflow: auto;
    box-shadow: 4px 0px 6px 0px #00000014;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.contacts-list-container::-webkit-scrollbar {
    width: 7px;
}

.contacts-list-container::-webkit-scrollbar-track {
    background: white;
}

.contacts-list-container::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 10px;
}

.contacts-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter-container {
    width: 100%;
    padding: 0px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter-header {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.letter-header-bottom-border {
    width: 100%;
    margin: 14px 0;
    border-bottom: 1px solid #d1d1d1;
}


.contact {
    width: 100%;
    display: flex;
    gap: 35px;
    /* align-items: center; */
    padding: 15px 8px;
    border-radius: 10px;
}

.contact:not(.contact-active):hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.08));
    cursor: pointer;
}

.contact:hover .contact-icon {
    border: 1px solid white;
}

.contact-active {
    color: white;
    background-color: #2A3647;
}

.contact-active .contact-icon {
    border: 1px solid white;
}

.contact-icon {
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list-icon {
    width: 42px;
    height: 42px;
    /* padding: 16px;
    margin-right: 8px; */
}

.contact-name-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 35px; */
}

.contact-email {
    color: #007CEE;
    margin-top: 5px;
}

/*--------------------------------------------------
Contact Info
---------------------------------------------------*/
.contacts-info-container {
    width: 60%;
    padding: 89px 52px 67px 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    overflow: hidden;
}

.contacts-header {
    display: flex;
    align-items: center;
}

.header-headline {
    font-size: 61px;
    font-weight: 700;
}

.header-border-mid {
    height: 59px;
    border: 3px solid #29ABE2;
    border-radius: 2px;
}

.header-subheadline {
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
    /* margin-left: calc(30px - 3px); */
}

.contact-details-container {
    flex-grow: 1;
    overflow: hidden;
}

.contact-details-overlay {
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* background-color: #cccccc; */
    transform: translateX(100vw);
    transition: all 220ms ease-in-out;
}

.contact-icon-and-name {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-overlay-icon {
    width: 120px;
    height: 120px;
    border: 2px solid white;
}

.contact-name-addTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-addTask {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #29ABE2;
    margin-top: 12px;
}

.contact-addTask:hover {
    cursor: pointer;
    font-weight: 700;
}

.contact-addTask:hover svg path {
    stroke-width: 3;
}

.contact-header-and-edit {
    display: flex;
    align-items: center;
    gap: 59px;
    height: 70px;
}

.contact-edit {
    display: flex;
    align-items: center;
    gap: 4px;
}

.contact-edit:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.contact-edit:hover svg path {
    fill: #29ABE2;
}

.contact-details-email,
.contact-details-phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-details-email a,
.contact-details-phone a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.contact-details-email a {
    color: #007CEE;
}

.contact-created {
    width: fit-content;
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-shadow: 0px 0px 4px 0px #00000026;
    transform: translateY(100vh);
    transition: all 500ms ease-in-out;
}

.new-contact {
    height: 53px;
    align-self: flex-end;
    gap: 10px;
}

/*--------------------------------------------------
New Contact
---------------------------------------------------*/
.overlay-bg {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow: hidden;
}

.create-or-edit-contact-overlay {
    max-width: fit-content;
    height: 594px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    border-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: translateX(100vw);
    transition: all 220ms ease-in-out;
}

.create-or-edit-contact-header {
    width: 463px;
    height: 100%;
    background-color: #2A3647;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 46px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.create-or-edit-contact-header img {
    width: 55px;
    /* height: 100%; */
}

.header-border-bottom {
    width: 90px;
    border: 3px solid #29ABE2;
    border-radius: 2px;
}

#create-or-edit-contact-icon-container {
    width: 260px;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-or-edit-contact-icon-container img {
    width: 120px;
    height: 120px;
}

.form-contact-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding: 104px 53px 104px 0;
    position: relative;
}

.form-contact-info .input-field {
    height: 51px;
    width: 422px;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    background-color: white;
    border: 1px solid #d1d1d1;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-contact-info .input-field input {
    border: none;
    outline: none;
    font-size: 21px;
    font-weight: 400;
}

#form-contact-buttons {
    display: flex;
    /* gap: 20px; */
    margin-top: 30px;
}

#form-contact-buttons button {
    gap: 10px;
    margin-right: 24px;
}

.close-new-contact {
    position: absolute;
    top: 32px;
    right: 64px;
    cursor: pointer;
}

/*--------------------------------------------------
Show / Hide
---------------------------------------------------*/
.d-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.show-overlay {
    transform: translate(0);
}

/* .opacity-0 {
    opacity: 0;
} */

.no-scrolling {
    overflow: hidden;
}